.frod3 {
    background-color: #e8594f48 !important;
}

.frod4 {
    background-color: #e8594f7c !important;
}

.frod5 {
    background-color: #e8594fb1 !important;
}

.frod6 {
    background-color: #E85A4F !important;
}