.main_block{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-grow: 1;
    
}

.no_transactions {
    margin: auto auto;
}

.buttons_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    justify-content: center
}